{% extends 'base.html' %}

{% block content %}
<div>

  <h2>{{ object.text }}</h2>
    <p><i class="glyphicon glyphicon-user"></i> {{ object.author }} &nbsp;<span class="glyphicon glyphicon-option-vertical"></span>&nbsp; <span class="glyphicon glyphicon-calendar"></span> {{ object.created }}</p>

  <p><a href="{% url 'note_edit' note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;<span class="glyphicon glyphicon-option-vertical"></span>&nbsp;
    <a href="{% url 'note_delete' note.pk %}"><span class="glyphicon glyphicon-trash"></span></a></p>
  <p>Back to <a href="{% url 'note_list' %}"><span class="glyphicon glyphicon-home"></span></span></a></p>
</div>
{% endblock content %}